#icon li a {
    color: white;
}
.box {
    border-radius: 2cm   ;
}
#icon1:hover{
    color: rgb(209, 97, 97);
}
#icon2:hover{
    color: rgb(209, 97, 97);
}
#icon3:hover{
    color: rgb(209, 97, 97);
}
#icon4:hover{
    
}
#icon5:hover{
    color: rgb(209, 97, 97);
}
.box li i:hover{
    color: #AAAAAA;
}